<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jacob.charlebo_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.jacob.charlebo_reflex.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jacob.charlebo_reflex.SinglePlayer"
            android:label="Single Player">
        </activity>
        <activity
            android:name="com.example.jacob.charlebo_reflex.Multiplayer"
            android:label="Multiplayer">
        </activity>
        <activity
            android:name="com.example.jacob.charlebo_reflex.Statistics"
            android:label="Statistics">
        </activity>
        <activity
            android:name="com.example.jacob.charlebo_reflex.TwoPlayer"
            android:label="Two Player">
        </activity>
        <activity
            android:name="com.example.jacob.charlebo_reflex.ThreePlayer"
            android:label="Three Player">
        </activity>
        <activity
            android:name="com.example.jacob.charlebo_reflex.FourPlayer"
            android:label="Four Player">
        </activity>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </application>

</manifest>
